.editable-text-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.content-div {
  width: 100%;
  padding: 0;
  margin: 0;
}

.hidden {
  margin: 0;
  padding: 0;
  display: none;
}

.show-p {
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

.show-input {
  font-size: 1rem;
  background-color: inherit;
  outline: none;
  border: 1px solid black;
  border-radius: 3px;
  width: 90%;
  font-family: 'Grenze Gotisch', Helvetica;
  margin: 0;
  padding: 0;
}

#edit {
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 0;
  padding: 0.25rem;
  height: 100%;
  /* border: 1px solid red; */
}

#edit:hover {
  cursor: pointer;
}

.datetime-div {
  display: flex;
  margin: 0;
  padding: 0;
}

.progress-entry-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}