.card {
  background-image: url("../../images/newspaper-background.png");
  /* background-color: inherit; */
  border-radius: 5px;
  margin: 0.5rem 0;
  box-shadow: 4px 7px 4px #978f6b;
}

.inner-card {
  margin: 0;
  padding: 0.5rem;
  background-color: rgba(255, 199, 134, 0.4);
}

.link {
  display: flex;
  /* border: 1px solid red; */
  width: 100%;
}

.link a {
  text-decoration: none;
  color: black;
  width: 100%;
  text-align: center;
}

.link a:hover {
  background-color: rgba(253, 246, 238, 0.5);
}

.timestamp {
  /* border: 1px solid red; */
  margin: 0;
  font-size: 0.75rem;
}

.time-and-delete-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#delete-button {
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 0;
  padding: 0.25rem;
  /* border: 1px solid red; */
}